<div class="global-social-sidebar" *ngIf="showSocialSidebar">
  <a href="https://eg.linkedin.com/school/misr-university-for-science-and-technology/" target="_blank" class="social-btn linkedin" title="MUST LinkedIn"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://web.facebook.com/share/g/1CM9qwydeA/" target="_blank" rel="noopener noreferrer" class="social-btn facebook" title="MUST Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/mustuni/" target="_blank" class="social-btn instagram" title="MUST Instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com/must_university" target="_blank" class="social-btn x-twitter" title="MUST X (Twitter)"><i class="fab fa-x-twitter"></i></a>
  <a href="https://chat.whatsapp.com/BdekmLTYMbR9M9ibkl703w" target="_blank" class="social-btn whatsapp" title="MUST WhatsApp Group" style="color: #25D366;"><i class="fab fa-whatsapp"></i></a>
</div>

<router-outlet></router-outlet>