<footer class="must-footer no-print" [attr.dir]="'ltr'">
  <div class="footer-top">
    <!-- Centered Logo -->
    <div class="footer-logo-container">
      <img src="assets/1740307130_140_87669_group1000004290.svg" alt="MUST Circular Logo" class="footer-logo">
    </div>

    <div class="footer-container">
      <div class="footer-grid">
        
        <!-- Column 1: Links -->
        <div class="footer-col">
          <h3 class="footer-title">{{ langService.translate('footer.links') }}</h3>
          <ul class="footer-links">
            <li><a routerLink="/dashboard">{{ langService.translate('nav.home') }}</a></li>
            <li><a href="https://must.edu.eg/the-university/" target="_blank">{{ langService.translate('nav.university') }}</a></li>
            <li><a href="https://must.edu.eg/academics/" target="_blank">{{ langService.translate('nav.academics') }}</a></li>
            <li><a href="https://must.edu.eg/must-life/" target="_blank">{{ langService.translate('nav.life') }}</a></li>
            <li><a href="https://must.edu.eg/centers/" target="_blank">{{ langService.translate('footer.research') }}</a></li>
            <li><a href="https://must.edu.eg/contact/" target="_blank">{{ langService.translate('footer.maps') }}</a></li>
            <li><a href="https://must.edu.eg/contact/" target="_blank">{{ langService.translate('footer.faqs') }}</a></li>
          </ul>
        </div>

        <!-- Column 2: About University -->
        <div class="footer-col">
          <h3 class="footer-title">{{ langService.translate('footer.about') }}</h3>
          <ul class="footer-links">
            <li><a href="https://must.edu.eg/about-must/" target="_blank">{{ langService.translate('footer.about') }}</a></li>
            <li><a href="https://must.edu.eg/history/" target="_blank">{{ langService.translate('footer.history') }}</a></li>
            <li><a href="https://must.edu.eg/?page_id=1660" target="_blank">{{ langService.translate('footer.partnerships') }}</a></li>
            <li><a href="https://must.edu.eg/about-must/vision-mission/" target="_blank">{{ langService.translate('footer.why') }}</a></li>
            <li><a href="https://must.edu.eg/about-must/must-policies/" target="_blank">{{ langService.translate('footer.values') }}</a></li>
            <li><a href="https://must.edu.eg/contact/" target="_blank">{{ langService.translate('nav.contact') }}</a></li>
            <li><a href="https://must.edu.eg/policies/" target="_blank">{{ langService.translate('footer.privacy') }}</a></li>
          </ul>
        </div>

        <!-- Column 3: MUST BUZZ -->
        <div class="footer-col">
          <h3 class="footer-title">{{ langService.translate('nav.buzz') }}</h3>
          <ul class="footer-links">
            <li><a href="https://must.edu.eg/event/" target="_blank">{{ langService.translate('nav.buzzEvents') }}</a></li>
            <li><a href="https://must.edu.eg/news/" target="_blank">{{ langService.translate('nav.buzzNews') }}</a></li>
            <li><a href="https://must.edu.eg/blog/" target="_blank">{{ langService.translate('footer.blog') }}</a></li>
            <li><a href="https://must.edu.eg/anouncement/" target="_blank">{{ langService.translate('nav.buzzAnnouncements') }}</a></li>
          </ul>
        </div>

        <!-- Column 4: Contact Info -->
        <div class="footer-col">
          <h3 class="footer-title">{{ langService.translate('footer.contact') }}</h3>
          <ul class="contact-info">
            <li class="contact-number">16878</li>
            <li class="contact-email">Info&#64;Must.Edu.Eg</li>
            <li class="contact-address">Al Motamayez District – 6th of October, Egypt</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="footer-container">
      <p>{{ langService.translate('footer.copyright') }}</p>
    </div>
  </div>
</footer>