<div class="templates-page container" [attr.dir]="(langService.currentLang$ | async) === 'ar' ? 'rtl' : 'ltr'">
    <app-hero-banner [title]="langService.translate('templates.title')" [compact]="true"></app-hero-banner>

    <div class="templates-grid">
        <div *ngFor="let template of templates" class="template-card card">
            <div class="template-icon">
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="template-info">
                <h3>{{ template.title }}</h3>
                <p>{{ template.description }}</p>
                <div class="template-meta">
                    <span class="size">{{ template.fileSize }}</span>
                    <span class="update">{{ langService.translate('templates.lastUpdate') }} {{ template.lastUpdate }}</span>
                </div>
            </div>
            <a [href]="absFileUrl(template.fileUrl)" class="btn btn-secondary">{{ langService.translate('templates.downloadBtn') }}</a>
        </div>
    </div>
</div>